<% include ./partials/header.ejs %>

<div class="container front landing-header">

<h1>Book Me</h1>
		
<form class="form-inline">
	<div class="form-group">
	  <label class="sr-only" for="email">Email address</label>
	  <input type="email" class="form-control" id="email" placeholder="Email">
	</div>
	<div class="form-group">
	  <label class="sr-only" for="password">Email address</label>
	  <input type="password" class="form-control" id="password" placeholder="Password">
	</div>
<button type="submit" class="btn btn-default">Sign in</button>
</form>
<p class="or">Or if you don't have an account <span class="register"><a href="/register" class="register">Register</a></span></p>

</div>

<ul class="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>

<% include ./partials/footer.ejs %>